WebServiceToken2.Web/Connected Services/wsServicio/wsClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="autenticaUsuario">
        <s:complexType />
      </s:element>
      <s:element name="autenticaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autenticaUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="classSeguridad" type="tns:classSeguridad" />
      <s:complexType name="classSeguridad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="stToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="autenticaToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="dsConsultaClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPais" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsConsultaClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsConsultaClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="autenticaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:autenticaUsuario" />
  </wsdl:message>
  <wsdl:message name="autenticaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:autenticaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="autenticaUsuarioclassSeguridad">
    <wsdl:part name="classSeguridad" element="tns:classSeguridad" />
  </wsdl:message>
  <wsdl:message name="dsConsultaClientesSoapIn">
    <wsdl:part name="parameters" element="tns:dsConsultaClientes" />
  </wsdl:message>
  <wsdl:message name="dsConsultaClientesSoapOut">
    <wsdl:part name="parameters" element="tns:dsConsultaClientesResponse" />
  </wsdl:message>
  <wsdl:message name="dsConsultaClientesclassSeguridad">
    <wsdl:part name="classSeguridad" element="tns:classSeguridad" />
  </wsdl:message>
  <wsdl:portType name="wsClientesSoap">
    <wsdl:operation name="autenticaUsuario">
      <wsdl:input message="tns:autenticaUsuarioSoapIn" />
      <wsdl:output message="tns:autenticaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dsConsultaClientes">
      <wsdl:input message="tns:dsConsultaClientesSoapIn" />
      <wsdl:output message="tns:dsConsultaClientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsClientesSoap" type="tns:wsClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autenticaUsuario">
      <soap:operation soapAction="http://tempuri.org/autenticaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:autenticaUsuarioclassSeguridad" part="classSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:autenticaUsuarioclassSeguridad" part="classSeguridad" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsConsultaClientes">
      <soap:operation soapAction="http://tempuri.org/dsConsultaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:dsConsultaClientesclassSeguridad" part="classSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:dsConsultaClientesclassSeguridad" part="classSeguridad" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsClientesSoap12" type="tns:wsClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autenticaUsuario">
      <soap12:operation soapAction="http://tempuri.org/autenticaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:autenticaUsuarioclassSeguridad" part="classSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:autenticaUsuarioclassSeguridad" part="classSeguridad" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsConsultaClientes">
      <soap12:operation soapAction="http://tempuri.org/dsConsultaClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:dsConsultaClientesclassSeguridad" part="classSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:dsConsultaClientesclassSeguridad" part="classSeguridad" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsClientes">
    <wsdl:port name="wsClientesSoap" binding="tns:wsClientesSoap">
      <soap:address location="http://localhost/WebServiceToken2.Ws/wsClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="wsClientesSoap12" binding="tns:wsClientesSoap12">
      <soap12:address location="http://localhost/WebServiceToken2.Ws/wsClientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>